.back-site {
	background-color: #2970ec;
	padding: 3.1rem;
}
.div-social-media {
	width: 25%;
}
.title {
	font-family: "Bodoni Std Poster";
	color: #98f4e5;
	font-size: 5rem;
}
br::selection {
	background-color: #2970ec;
}
.title::selection {
	color: #fff;
}
.p-body {
	font-family: "Latina Essential Medium" !important;
	font-size: 1.7rem;
	line-height: 1.6;
	color: #fff;
}
.p-body::selection {
	color: #2970ec;
	background-color: #c9b99e;
}
.form-align {
	margin-left: 33rem;
}
.input {
	font-family: "Latina Essential Medium" !important;
	font-size: 1.5rem !important;
	border-radius: 1rem !important;
	border: none !important;
}
.input::placeholder {
	font-family: "Latina Essential Medium" !important;
	color: #c9b99e !important;
	text-align: center;
	font-style: italic;
}
.button {
	font-family: "Latina Essential Medium" !important;
	padding: 0.2rem 7rem !important;
	background-color: #98f4e5 !important;
	color: #2970ec !important;
	border-radius: 1rem !important;
	font-size: 1.5rem !important;
}
.link {
	font-family: "Latina Essential Medium" !important;
	color: #fff;
	font-size: 1.3rem;
	text-decoration: none;
}
.link:hover {
	color: #98f4e5;
}

@media (max-width: 576px) {
	.title {
		font-size: 2.5rem !important;
	}
	.p-body {
		font-size: 1.3rem;
	}
	.logo {
		width: 50%;
	}
}

@media (min-width: 576px) {
	.title {
		font-size: 3.5rem !important;
	}
	.logo {
		width: 40%;
	}
}

@media (min-width: 768px) {
	.title {
		font-size: 4rem !important;
	}
	.logo {
		width: 30%;
	}
}

@media (min-width: 992px) {
	.logo {
		width: 20%;
	}
}

@media (min-width: 1200px) {
	.logo {
		width: 15%;
	}
}
@media (min-width: 1400px) {
}

@media (min-width: var("--breakpoint-xs")) {
	.back-site {
		background-color: black !important;
	}
}
